/* ************************************************************* HERO ************************************************************** */
.section {
  flex-flow: column;
  align-items: center;
  height: auto;
  margin-top: 3vw;
  display: block;
  overflow: hidden;
}

.hero-wrapper {
  z-index: 1;
  width: 100vw;
  margin-bottom: -100vh;
  display: block;
  position: relative;
  top: 0;
  overflow: visible;
}

.hero-section {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  padding: 0 0 0;
  position: sticky;
  top: 0;
  overflow: visible;
}

.hero-subtitle {
  z-index: 3;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: -131px;
  margin-left: 0;
  display: flex;
  position: relative;
}

.web-developer {
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
}

.text-webDeveloper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--white);
  color: var(--grayweb);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 12px;
  font-family: Galano Grotesque Demo, sans-serif;
  font-size: 16px;
  font-weight: 800;
  display: flex;
}

.spacer {
  border: solid 2px purple;
  width: 80%;
  height: 100vh;
  margin-top: -33px;
  position: relative;
}

/******************* DE MIMI INICIO*/
#canvas3d {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1; 
}

/* 1. Definición de la Animación de Pulsación */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(
      1.1
    ); /* Ajusta este valor (ej: 1.05 para algo más sutil) */
  }
  100% {
    transform: scale(1);
  }
}


/***************************************** FIN DE MIMI*********************/

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    width: 100%;
    margin-bottom: -150vh;
    display: block;
    position: relative;
    overflow: visible;
  }
  .hero-section {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding: 0 0 0;
    display: block;
    top: 0;
  }
  .hero-subtitle {
    width: 100%;
    margin-top: -165px;
  }

  .web-developer {
    margin-top: 0;
    margin-bottom: 0;
  }

  .spacer {
    width: 80vw;
    height: 150vh;
    margin-top: -71px;
  }
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    z-index: 1;
    margin-top: 0;
    top: 0;
    overflow: visible;
  }

  .hero-section {
    z-index: auto;
    margin-top: 0;
    padding: 0 0 0;
    position: sticky;
    overflow: visible;
  }
  .hero-subtitle {
    margin-top: -136px;
    position: relative;
  }

  .web-developer {
    margin-bottom: 0;
  }

  .text-webDeveloper {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767px) {

  .hero-wrapper {
    margin-top: 0;
    top: 0;
  }

  .hero-section {
    margin-top: 0;
    margin-bottom: -15px;
    padding-top: 0;
    top: 0;
    overflow: hidden;
  }

  .hero-subtitle {
    align-items: flex-end;
    margin-top: -166px;
    margin-right: 0;
    padding-right: 7vw;
  }

  .web-developer {
    object-fit: fill;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    position: static;
  }

  .text-webDeveloper {
    letter-spacing: 0px;
    font-size: 13px;
  }

  .spacer {
    margin-top: -68px;
  }
}

@media screen and (max-width: 479px) {
  .hero-wrapper {
    margin-top: 0;
    position: relative;
    top: 0;
  }

  .hero-section {
    top: 0;
    overflow: hidden;
  }

  .hero-subtitle {
    align-items: center;
    margin-top: -204px;
    padding-right: 0;
  }

  .web-developer {
    margin-bottom: 0;
  }

  .text-webDeveloper {
    letter-spacing: 0;
  }

  .spacer {
    margin-top: -99px;
    display: block;
  }
}
