.hero-wrapper {
  font-family: var(--font-family-base);
  z-index: 2;
  top: 0;
  width: 100%;
  margin-bottom: -180vh;
  display: block;
  position: fixed;
  background: url("../../assets/img/Hero/DotsHero.svg") center/cover no-repeat,
  linear-gradient(to bottom, var(--purpura3) 0%, var(--white) 35%);
}


.hero-section {
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding: 0 0 0;
  display: block;
    width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.hero-particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 6;
  overflow: hidden;
}


.heroParticles {
  background-color: transparent;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.heroParticles canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  pointer-events: none;
}


.content-hero {

  position: relative;
  z-index: 5;

  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  padding-left: var(--margin-left-rigth-general);

  opacity: calc(1 - var(--act1, 0));
  transform: translateY(calc(var(--act1, 0) * 30px));
  transition: none;
}

.content-hero h1 {
  margin-top: 20px;
  color: var(--purpura3);
}
.content-hero img {
  margin-top: 100px;
}

/* HERO ARCS*/
.arc-bottom {
  position: absolute;
  width: 800px;
  height: 800px;

  left: -450px;
  bottom: -550px;

  pointer-events: none;
  z-index: 1;
}

.arc-top {
  position: absolute;
  width: 800px;
  height: 800px;

  right: -450px;
  top: -550px;

  pointer-events: none;
  z-index: 1;
}

/*Gradient, thickness & animation*/
.arc-line {
  fill: none;
  stroke-width: 40;
  opacity: 0.9;

  stroke-linecap: round;
  filter: drop-shadow(0 0 20px var(--purpura4));


  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;

  animation: drawArc 2s ease forwards;
}

@keyframes drawArc {
  to {
    stroke-dashoffset: 0;
  }
}


@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

.content-hero {
  padding-left: var(--margin-left-rigth-general);
  padding-right: var(--margin-left-rigth-general);
  padding-top: var(--margin-top-general);
  width: 100%;
  justify-content:flex-start;
  align-items: center;
}

.content-hero img{
  margin: 0;
  width: auto;
}

.content-hero h3, .content-hero h1{
  display: none;
}
}

@media screen and (max-width: 479px) {

}