.accessibility-button {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: solid 1px var(--text);
  background-color: var(--white-transparent);
  height: 100%;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 20px;
}

.accessibility-button:hover {
  color: var(--white);
  background-color: var(--purpura);
  cursor: none;
  border: solid 1px var(--white);
}

.accessibility-panel{
  font-family: var(--font-family-base);
}

.accessibility-panel button, .accessibility-panel input, .accessibility-panel label{
  cursor: none;
}
.accessibility-panel{

  position: fixed;
  z-index: 1050;
  border-radius: 6px;

  top: 110px;
  right: var(--margin-left-rigth-general);
  width: auto;
  padding: 1rem;
  background-color: var(--white-transparent);
  border: 1px solid var(--white-transparent);
  backdrop-filter: blur(12px);
  mix-blend-mode: normal;
  box-shadow: 1px 1px 3px var(--shadows);
  isolation: isolate;

}

.accessibility-panel label{
  font-weight: var(--font-weight-base);
  margin-bottom: 2px;
}

.accessibility-panel p {
  margin-bottom: -20px !important;
}

.accessibility-panel .btn {
  color: var(--text);
  background-color: var(--white-transparent);
}

.defaultText {
  font-size: var(--font-size-base);
  border: none;
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  color: var(--purpura);
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  /*.accessibility-panel {
    display: none;
  }*/

  /*.accessibility-panel.mobile {
    
    border-radius: 6px;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--white-transparent);
    border: solid 1px var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }*/

  /*.accessibility-panel.mobile .form-check {
    margin-top: -10px;
    margin-bottom: 10px;
  }*/

  /*.accessibility-panel.mobile .btn {
    margin-top: -10px;
    border: solid 1px var(--text);
    background-color: var(--white-transparent);
    transition: transform 0.2s ease;
    
  }*/

  /*.accessibility-panel.mobile .btn:hover {
    transform: scale(1.05);
    border: solid 1px var(--text);
    background-color: var(--white-transparent);
  }*/

  /*.accessibility-panel.mobile .defaultText{
    font-size: var(--font-size-base) !important;
  }*/

}