.switch-control{
    display:flex;
    border:1px solid var(--purpura2);
    border-radius:999px;
    overflow:hidden;
    width:max-content;
}

.switch{
    border:none;
    background:transparent;
    padding:8px 22px;
    transition:.25s;
    color:var(--text);
}

.switch.active{
    background:var(--white-transparent2);
    border-radius:999px;
    box-shadow:0 0 5px rgba(0,0,0,.15);
    border:1px solid var(--text);
}