.footer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--background2);
  object-fit: scale-down;
  background-image: url("https://cdn.prod.website-files.com/66f53b4e20ea887a10108c17/66f53b4e20ea887a10108c71_bg1.webp");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  padding-top: 70px;
  display: grid;
  position: relative;
  overflow: hidden;
  box-shadow: 0 -1px 5px #0003;
  margin-bottom: 0px !important;
}

.loopcontainer {
  background-color: var(--white);
  vertical-align: text-bottom;
  border-radius: 20px;
  flex-flow: row;
  align-items: center;
  height: 130px;
  margin: 0 4vw -30px;
  padding-top: 0;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {

  .footer {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    margin-top: 0;
    padding-top: 70px;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {

    .footer {
    margin-top: 0;
    padding-top: 80px;
    display: block;
  }
}

@media screen and (max-width: 767px) {

    .footer {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 0;
    display: flex;
  }
}


@media screen and (max-width: 479px) {

    .footer {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: fill;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
  }
}