#Contact {
  /*font-family: "Be Vietnam Pro", sans-serif;*/
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
background-color: var(--purpura);
  height: 100vh;
  position: relative;
  overflow: hidden;

}
.loop{
  width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none; 
    overflow: hidden;

}


.track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite; /*scroll velocidad*/
}

.track img {
  height: 20vh;      
  margin-right: 60px;
  object-fit: contain;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.content{
  padding: 60px;
  margin-top: 30px;
  display: flex;
  height: 90vh ;
  position: relative;
  z-index: 2;
}

.message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
color: white;
}

.message .title{
  font-size: 50px;
  line-height: 52px;
}

.message span {
    color: var(--darkPurple);
    /*font-family: "Platypi", serif;*/
    font-optical-sizing: auto;
    /*font-style: italic;*/
    font-weight: 400;
}

.message .madeWith{
  font-size: 25px;
}

.btnAContacto{
  width: 250px;
  margin-top: 60px;
  margin-bottom:30px;
}


.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  width: 50%;
}



.items ul {
  width: 60%;
  list-style: none;
  margin-right: 0px;
}

.list{
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding-left: 30px;
}

.list:hover{
  color: var(--darkPurple);
  text-decoration: none;
}


.items ul li {
  padding: 12px 0;
  border-top: 1px solid var(--purpura2);
}

/* línea también debajo del último */
.items ul li:last-child {
  border-bottom: 1px solid var(--purpura2);
}

.footerLine{
  color:var(--purpura2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  z-index: 2;
  margin-bottom: auto;
  font-size: 16px;
}

.back{
  color: var(--purpura2);
  text-decoration: none;
  transition: color 0.1s ease, transform 0.1s ease;
  padding-right: 15px;
}

.back:hover{
  color: var(--darkPurple);
  text-decoration: none;
}


.figures{
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none; 
  margin-bottom: -30vh;
}

@media screen and (max-width: 1280px) {

.figures{
  margin-bottom: -28vh;
}


.track {
  animation: scroll 30s linear infinite; /*scroll velocidad*/
}

.track img {
  height: 19vh;      
}
}

@media screen and (max-width: 991px) {

.figures{
  margin-bottom: -31vh;
}

.items ul {
 
  width: 80%;
  list-style: none;
  margin-right: 0px;
  right: 0;
}

}

@media screen and (max-width: 767px) {
  .track {
  animation: scroll 20s linear infinite; /*scroll velocidad*/
}

.track img {
  height: 15vh;      
}
  .message .title{
    margin-top: 50px;
}

.btnAContacto{
  margin-top: 20px;
  margin-bottom: 10px;

}
.content{
  padding: 40px;
  flex-direction: column;
}

.message, .items{
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.items{
  width: 50%;
  height: 100%;
}

.items ul {
  width: 90%;
  padding: 0px;
}

.list{
  padding-left: 0px;
}

  .figures{
  margin-bottom: -27vh;
  margin-left: 23vw;
}

.footerLine{
  font-size: 13px;
}
}


@media screen and (max-width: 479px) {

  .title{
    font-size: 45px !important;
  }
  .items{
    padding: 0;
  }

  .list{
font-size: 20px;}

  .figures{
  margin-bottom: -28vh;
  width: 100% !important;
}
.back{
  display: none;
}

}