#Contact {
  width: 100%;
  font-family: var(--font-family-base);
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: url("../../assets/img/Hero/DotsHero.svg") center/cover no-repeat,
  linear-gradient(to bottom, var(--purpura3) 0%, var(--white) 95%);
  
}


.content{
  width:90%;
  padding-left: var(--margin-left-rigth-general);
  padding-right: var(--margin-left-rigth-general);
  padding-top: var(--margin-top-general);
  display: flex;
  height: 100vh ;
  position: relative;
  z-index: 2;
}

.message{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text);
}

.message .title{
  font-family: var(--font-family-bold);
  text-transform: uppercase;
  font-size: var(--font-size-maximus);
  line-height: var(--font-size-maximus);
  margin-bottom: 15px !important;
}

.message span {
    color: var(--purpura);
    font-optical-sizing: auto;
}

.message .madeWith{
  font-size: var(--font-size-h3);
}

.btnAContacto{
  font-size: var(--font-size-h3);
  width: 250px;
  margin-top: 20px;
  margin-bottom:30px;
}

.items{
  width: 100%;
  margin-top: 20px;
}

.items ul {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
}

.list{
  font-size: var( --font-size-h3);
  color: var(--text);
  text-decoration: none;
  padding: 30px;
}

.list:hover{
  color: var(--purpura);
  text-decoration: none;
}

.items ul li {
  padding: 12px 0;
  border-top: 1px solid var(--purpura2);
  border-bottom: 1px solid var(--purpura2);
}

.logoTrack{
  position: absolute;
  width: 50%;
  height: 100vh;
  right: 0;
  bottom:0;
  background: url("../../assets/img/Contact/ContactLogo.png") right/contain no-repeat;
}

.footerLine{
  width: 100%;
  position: absolute;
  bottom: 0;
  color:var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:end;
  padding-left: var(--margin-left-rigth-general);
}

.footerLine p{
  padding: 0 !important;
  font-size: var(--font-size-underBase);
}

.back{
  background-color: var(--white-transparent2);
  padding: 7px 15px;
  color: var(--white);
  border-radius: 99px;
  color: var(--purpura2);
  text-decoration: none;
  transition: color 0.1s ease, transform 0.1s ease;
  font-size: var(--font-size-base);
  margin-bottom: 10px !important;
}

.back:hover{
  color: var(--text);
  text-decoration: none;
}

/*
.figures{
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none; 
  margin-bottom: -30vh;
}*/

@media screen and (max-width: 1280px) {
/*
.figures{
  margin-bottom: -28vh;
}


.track {
  animation: scroll 30s linear infinite; 
}

.track img {
  height: 19vh;      
}*/
}

@media screen and (max-width: 991px) {

.content{
  width:100%;
}
.list{
  font-size: var( --font-size-h2);
}
.btnAContacto{
  font-size: var(--font-size-h3);
}
.message .madeWith{
  font-size: var(--font-size-h2);
}

}

@media screen and (max-width: 767px) {

.content{
  display: flex;
  flex-direction: column;
  width: 100%
}

.message{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
}

.btnAContacto{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: var(--font-size-h3);
}
.message .madeWith{
  display: none;
}

.items{
  margin-top: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:static;
  width: 100%;
  
}

.list{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  font-size: var( --font-size-h3);
}

.logoTrack{
  position: absolute;
  width: 100%;
  height: 30vh;
  bottom: 0;
  background: url("../../assets/img/Contact/ContactLogo2.png") bottom/contain no-repeat;
}

}


@media screen and (max-width: 479px) {
  .list{
    padding: 10px;
    font-size: var( --font-size-h4);
  }

  .footerLine p {
    display: none;

  }

  .items{
    padding: 0;
  }

}