section {
  font-family: Galano Grotesque, sans-serif;
}

.sobremi {
  z-index: 2;
  display: block;
  position: relative;
  bottom: 65px;
  width: 100%;
  top: 0px;
}

.columnas {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-bottom: -1px;
}

.columnas>div,
.columnas>.center {
  flex: 1;
  width: 33.333%;
}

.image-Izq,
.image-Der {
  width: 100%;
  display: block;
  object-fit: fill;
}

.center {
  background-color: transparent;
}

.about {
  display: flex;
  background-color: var(--whitesomoke);
  text-align: left;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: 540px;
  top: 0;
  box-shadow: 0 2px 5px #0003;
  overflow: hidden;
  background-image: url("/src/assets/img/ProfilePicture2.png");
  background-position: 20px bottom;
  background-repeat: no-repeat;
  background-size: auto 93%;
}

button {
  background-image: linear-gradient(to top, #3333cc, var(--purpura), rgb(216, 168, 250));
  color: white;
  width: 250px;
  font-size: 23px !important;
}

.w-col {
  float: left;
  height: 100% !important;
}

.about-content {
  padding: 20px;
  flex: 1;
  min-width: 0;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-cards {
  width: 50vw;
  flex-shrink: 0;
  height: 100% !important;
  align-self: stretch;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-cards .uno {
margin-left: 50px;
}

.about-cards .dos {
  margin-top: 60px;
}

.about-cards .tres {
    margin-top: 60px;
    margin-left: 60px;

}

.about-cards .exterior .text {
  font-size: 22px;
  padding: auto;
  padding-top: 8px;
  height: 90px;
  width: 300px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal;
  background-color: white;
  border-radius: 60px;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px #0003;
  position: relative;
  z-index: 2;
  transition: all .5s ease-in-out;

}

.about-cards .exterior .text:hover {
  box-shadow: 2px 2px 8px #3333cc;
}

.about-cards div span {
  color: var(--purpura)
}

div .exterior .sombra {
  height: 90px;
  width: 300px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.851);
  border-radius: 60px;
  transition: all .5s ease-in-out;
}

div .exterior {
  padding-top: 10px;
  display: block;
  height: 100px;
  width: 305px;
  margin: 20px;
  transition: all .5s ease-in-out;
}

div .exterior:hover {
  transform: scale(1.1);

}

.columns-2 {
  height: 100%;
  margin-top: 0;
  overflow: visible;
  width: 100%;
}

.pa {
  text-align: left;
  color: var(--text);
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 35px;
}

.spabout {
  color: var(--purpura);
}

.div-block-5 {
  margin-top: 30px;
  align-items: center;
  display: flex;
}

.image-3 {
  border-radius: 12px;
  width: 45px;

}

.text-block-2 {
  color: var(--text);
  margin-left: 20px;
  font-size: 23px;
  font-weight: 600;
  display: flex;
}

/* cursor icon*/
.follow-cursor {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.D {
  background-image: url(/src/assets/img/iconCool.svg);
}

.B {
  background-image: url(/src/assets/img/iconHappy.svg);
}

.C {
  background-image: url(/src/assets/img/iconStar.svg);
}

@media screen and (max-width: 1280px) {

  .about {
        height: 530px;
    background-position: -20px bottom;
    background-size: auto 90%;
  }

  .about-cards {
    width: 52vw;
    flex-shrink: 0;
    padding-left: 20px;
    padding-top: 80px;
  }

  .about-cards .exterior .text {
  font-size: 20px;
  height: 80px;
  width: 200px;
}

div .exterior .sombra {
  height: 80px;
  width: 200px;
  margin-top: -90px;
}

div .exterior {
  padding-top: 10px;
  height: 80px;
  width: 200px;
}

  .pa {
    font-size: 25px;
    line-height: 35px;
  }

  .div-block-5 {
    margin-top: 30px;
  }

  .text-block-2 {
    font-size: 22px;
  }

  .image-3 {
    width: 50px;
  }

}


@media screen and (max-width: 991px) {

  .about {
      height: 500px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-flow: row;
    padding-top: 0px;
    display: flex;
    background-position: -85px bottom;
    background-size: auto 85%;
  }

  .about-cards{
    width: 48vw;
  }

  .about-cards .dos, .about-cards .uno,.about-cards .tres  {
    display: none;
  }

  .pa {
    font-size: 22px;
    line-height: 30px;
  }

  .image-3 {
    border-radius: 10px;
    width: 45px;
  }

  .text-block-2 {
    font-size: 20px;
  }

}

@media screen and (max-width: 767px) {

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .about {
      height: 700px;
    padding: 20px;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-position: center bottom;
    background-size: auto 48%;

  }

  .pa {
    text-align: justify;
    margin-top: 10px;
  }

    button{
    font-size: 18px !important;

  } 
  .div-block-5{
    display: none;
  }

  .image-3 {
    width: 50px;
  }

  .image-Izq {
    display: none;
  }

  .columnas>.image-Izq,
  .columnas>.center {
    width: 50%;
  }

  .columnas>.image-Izq,
  .columnas>.center {
    width: 50%;
  }

  .about-cards {
    order: 2;
    flex: 0;
    width: 100%;
    display: flex;
    padding: 9vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-content {
    height: 40%;
    flex-shrink: 1;
    align-items: center;
    padding: 40px;
  }

  .about-cards .tres,  .about-cards .dos {
    display: block;
    margin: 0;
  }

  .about-cards .uno {
    display: none;
  }

  .about-cards {
    padding: 40px;
    padding-top: 150px;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-cards .exterior .text {
    padding: auto;
    padding-top: 9px;
    height: 60px;
    width: 150px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 20px !important;
  }

  .about-cards .cinco {
    width: 120px !important;
  }

  div .exterior .sombra {
    height: 60px;
    width: 150px;
    margin-top: -70px;
    border-radius: 20px !important;
  }

  div .exterior {
    height: 70px;
    width: 150px;
    margin-bottom: 80px !important;
  }


  .follow-cursor {
    display: none !important;
    pointer-events: none;
  }

}

@media screen and (max-width: 479px) {
  .sobremi {
    margin-top: 40px;
}

  .about {
    height: 80vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: auto 70VW;
    padding: 0px;
  }

  .pa {
    font-size: 20px;
    line-height: 32px;
  }

  .center,
  .image-Der {
    display: none;
  }

.about-cards{
  display: none;
}

  .text-block-2 {
    margin-top: -10px;
    font-size: 16px;
  }

  .about-content{
    padding: 40px;
    justify-content:flex-start;
  }
}