.webs {
  z-index: 0;
  background-color: var(--slider);
  flex-flow: column;
  height: 100vh;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
  overflow: hidden;
  background-color: var(--white);
  /*background-image: url("/src/assets/img/Webs/PointsSkills.svg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 120%;
}

@media screen and (min-width: 1280px) {
}


@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 479px) {


}